.PageHeader {
  background-color: var(--darkGrey);
/*  color: white;*/
  color: black;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
/*  opacity: 0.8;*/
  opacity: .96;
    background-position: 100%;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 6rem;
  margin-bottom: 0;
    width: 40%;
}

.PageHeader--Subtitle {
  font-size: 1.8rem;
    width: 40%;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader .BackgroundImage {
    background-position: 80%;
  }
  .PageHeader-large {
/*    padding: 12.5rem 0;*/
    padding: 0 0 2rem;
  }
  .PageHeader--Title {
    width: 100%;
  }
  .PageHeader--Subtitle {
    width: 100%;
      padding: 1rem;
      background: rgba(255,255,255,.8);
  }
  .PageHeader--Subtitle p {
      margin-bottom: 0;
  }
}
